body{
    padding-top:50px;
    min-height: 100%;
}
#banner_image{
    padding-bottom: 75px;
    margin-bottom: 50px;
    align-content: center;
    text-align:center;
    color: #f8f8f8;
    background:url(90.jpg) no-repeat center;
    background-size: cover;
    margin:auto;
    
}

#banner_content{
    position:relative;
    padding-top:6%;
    padding-bottom:6%;
    
    margin: auto;
    margin-top:12%;
    margin-bottom:12%;
    background-color:rgba(0, 0, 0, 0.408);
    max-width:  660px;
    
}
#foot{
    padding:10px 0;
    background-color:#101010;
    color: #9d9d9d;
    bottom:0;
    width:100%;
}